# Miscellaneous
*.class
*.log
.DS_Store
.vscode/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Flutter|Dart
pubspec.lock
.metadata
.packages
build/
android/
ios/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
test/
